{% extends 'VRApp/main.html'%} {% load static %} {% block title %}Home| Esovis
VR{% endblock %} {% block content%}
<div class="jumbotron jumbotron-fluid jumbotron-image-2">
  <div class="container spacing">
    <h1>Explore the <br/> world with <br/> Virtual Tours</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <a href="{% url 'shop'%}" class="btn hero_btn" >START TRAVELING TODAY</a>
  </div>
</div>
<div class="flex-container">
  <div class="flex-left">
    <h3>About Us</h3>
    <h1>Travel the world!</h1>
    <strong style="color: white">from your couch!</strong>
  </div>
  <div class="flex-right">
    <div class="flex-right-child-1">
      <h3>VIRTUAL TOURS</h3>
      <p>
        We hand-pick the best, most exciting and coveted experiences around the
        world to turn into virtual tours.
      </p>
      <h3>LIVE VIRTUAL TOURS</h3>
      <p>
        We provide live sessions where you can ask your burning questions, learn
        more about the culture from a local and simply hang out with friends in
        a new way.
      </p>
    </div>
    <div class="flex-right-child-2">
      <h3>REAL GUIDES</h3>
      <p>
        We work with real, professional tour guides who share their passion and
        knowledge in the virtual tours.
      </p>
      <h3>LATEST TECHNOLOGY</h3>
      <p>
        We are using immersive technologies to help you feel like you are really
        there.
      </p>
    </div>
  </div>
</div>
<div class="container featured-section">
  <div class="row">
    <div class="featured-live-tours">
      <h3>Available now!</h3>
      <h1 class="display-3">Featured <br/><strong>Virtual tour</strong></h1>
    </div>
  </div>
  <div class="featured-tour-image">
      <div class="featured-tour-text">
        <h1 class="display-4" style="font-weight: bolder;">Secrets of barcelona</h1>
        <p>
          An infinite number of mythical spots and stories lay hidden in this
          magical city. Join us on a virtual experience of the Barcelona that no
          other tour guide will show you.
        </p>
        <a href="{% url 'shop'%}" class="btn btnClass">TOUR NOW</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- how to create a background overlay -->
{%endblock content%}
