<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="icon" href="/static/images/logo2.png">
    <title>{% block title %}Cart{% endblock %}</title>
    <script type ='text/javascript'>
      let user = '{{request.user}}'
      function getToken(name)
      {
        var cookieValue = null;
        if(document.cookie && document.cookie !== '')
        {
          var cookies = document.cookie.split(';');
          for(var i =0; i<cookies.length; i++)
          {
            var cookie =cookies[i].trim();
            if(cookie.substring(0, name.length + 1) === (name + '='))
            {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;

      }
      var csrftoken = getToken('csrftoken')
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img
          src="{% static 'images/logo2.png' %}"
          width="112"
          height="28"
          alt="VRTours"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'shop' %}"
              >Store <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Country <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >City <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'historical_sites' %}"
              >Historical Sites <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Contact Us <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 ">
          <a href="{}" class="btn " style="color: white;">Sign Up</a>
          <a href="{% url 'login'%}" class="btn" style="color: white;">Login</a>

          <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}" />
          </a>
          <p id="cart-total">{{cartItems}}</p>
        </div>
      </div>
    </nav>
    {% block content %} 
    {%endblock content%}
    <script src="{% static 'js/cart.js'%}"></script>
  </body>
</html>
